:root {
    --color-dark: #1d1d11;
    --color-light: #fff;
    --color-pink: rgb(173, 83, 137);
    --color-dark-pink: rgb(144, 17, 105);
    --color-purple: rgb(60, 16, 83);
    --color-violet: rgb(51, 0, 131);
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}
body {
    background: radial-gradient(circle at 52.1% -29.6%, var(--color-dark-pink) 0%, var(--color-violet) 100.2%);
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    width: 100vw;
    background-color: var(--color-dark);
    padding: 10px;
}

header a {
    display: flex;
    color: var(--color-light);
}
header a h2 {
    margin: auto 0;
}

#logo {
    margin: auto 1rem;
    width: 2.5rem;
}

nav {
    color: var(--color-light);
    text-align: right;
    padding: 10px 20px;
    height: 35px;
}
nav a {
    color: var(--color-light);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    display: inline-block; /* Added this line */
}
nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--color-pink), var(--color-purple));
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}

nav a:hover {
    box-shadow: 0 5px 5px rgba(120, 4, 132, 0.434);
}

main {
    margin-top: 55px;
}

h1 {
    color: var(--color-light);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding: 10px;
}

#fests {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid red;
   
    
}
#fests-top-container{
    display: flex;
    align-items: center;
    justify-content: center;

}
#fests-container {
    
    text-align: center;
    max-width: 800px;
    padding: 2rem;
}

.fests-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20vw;
    height: 35vh; */
    background: linear-gradient(to left, var(--color-pink), var(--color-purple));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--color-purple);
    color: var(--color-light);
    margin-top: 2rem;
}

.fests-card img {
    width: 80%;
    height: 50%;
    padding: 10px;
}

.fests-card h3 {
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#clubs {
    margin: 10px;
    padding: 20px;
    border: 2px solid var(--color-light);
    border-radius: 20px;
}

#clubs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 35px;
}

.clubs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 25vh;
    background: linear-gradient(to right, var(--color-pink), var(--color-purple));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--color-purple);
    color: var(--color-light);
}

.clubs-card img {
    height: 15vh;
    padding: 10px;
}

.clubs-card h3 {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bottom-container{
    background-color: #1d1d1d;
    padding: 15px;
    line-height: 2;
    text-align: center;
    color: aliceblue;
}

/*  fix/responsive */
@media screen and (min-width: 750px) {
    #fests-container {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }
}

{
    text-align: center;
    background-color: black;
}

#text-colour
{
    color: white;
}

#photo
{
    text-align: center;
}
.center-container {
    text-align: center;
}
#contact-header {
    background-color: black;
    text-align: center;
}
#contact-form {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.message-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* textarea {
    resize: vertical;
    max-height: 200px;
    width: 100%;
    box-sizing: border-box;
} */

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50vh;
    background: linear-gradient(to right, var(--color-pink), var(--color-purple));
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px var(--color-purple);
    color: var(--color-light);
}

.contact{
    padding-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.basic-input{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

.message-input{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 15vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

#message{
    outline: none;
    width: 50vw;
    height: 15vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;

}
#name{
    outline: none;
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}
#email{
    outline: none;
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

.submit-button{
    width: 50vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    background-color: #ff69b4;
    color: var(--color-light);
    font-weight: bold;
    cursor: pointer;
}
